.Rproj.user
.Rhistory
.RData
.Ruserdata
Untitled.log
Untitled.pdf
Untitled.Rmd
Untitled.log
Untitled.pdf
Untitled.Rmd
inst/indiedown/.DS_Store
.Rhistory
NAMESPACE_old
hex/logo.png
hex/gh.png
inst/.DS_Store
inst/indiedown/.DS_Store
inst/rmarkdown/.DS_Store
inst/rmarkdown/templates/.DS_Store
inst/rmarkdown/templates/report/.DS_Store
hex/.DS_Store
.Rproj.user/10D101C3/sources/prop/INDEX
.DS_Store
inst/.DS_Store
inst/indiedown/.DS_Store
.Rproj.user/10D101C3/sources/prop/INDEX
.Rproj.user/10D101C3/pcs/workbench-pane.pper
.Rproj.user/10D101C3/pcs/windowlayoutstate.pper
.Rproj.user/10D101C3/pcs/source-pane.pper
.Rproj.user/10D101C3/pcs/files-pane.pper
.Rhistory
.DS_Store
.DS_Store
/doc/
/Meta/
.DS_Store
.Rbuildignore
.Rhistory
.Rproj.user/10D101C3/pcs/source-pane.pper
.Rproj.user/10D101C3/pcs/windowlayoutstate.pper
.Rproj.user/10D101C3/sources/prop/INDEX
.Rproj.user/10D101C3/sources/prop/INDEX

.Rbuildignore
.Rproj.user/10D101C3/sources/prop/INDEX
.Rproj.user/10D101C3/pcs/windowlayoutstate.pper
.Rproj.user/10D101C3/pcs/source-pane.pper
.Rproj.user/10D101C3/persistent-state
.Rproj.user/10D101C3/pcs/workbench-pane.pper
.Rproj.user/10D101C3/pcs/source-pane.pper
.Rhistory
.Rproj.user/10D101C3/sources/prop/INDEX
.Rproj.user/10D101C3/persistent-state
.Rproj.user/10D101C3/pcs/windowlayoutstate.pper
.Rproj.user/10D101C3/pcs/source-pane.pper
.Rproj.user/10D101C3/pcs/files-pane.pper
.Rproj.user/10D101C3/sources/prop/INDEX
.Rproj.user/10D101C3/rmd-outputs
.Rproj.user/10D101C3/persistent-state
.Rproj.user/10D101C3/pcs/workbench-pane.pper
.Rproj.user/10D101C3/pcs/windowlayoutstate.pper
.Rproj.user/10D101C3/pcs/source-pane.pper
.Rproj.user/10D101C3/pcs/files-pane.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
